# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/

# Markdown resources
README.Rmd
index.Rmd

# PDFs and other forms
*.pdf
*.docx
*.txt

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# OS environment variables
.DS_Store

# this file
.gitignore